section.identity-popin {
    background-color: @popin-background;
    border-radius: 10px;
    width: 500px;
    margin: 30px auto;
    z-index:1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid @light-alpha;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px @alpha;
    box-shadow: 0 3px 9px @alpha;
    max-height:90%;
    overflow-y:auto;
 
    header {
        position: relative;
        min-height: 16px;
        padding: 15px;
        padding-bottom:0px;
        
        div {
            margin: 0;
            font-size: 1.5em;
            text-align:center;
        }
    }

    section {
       position: relative;
        padding: 15px;
    }
}
